{% extends 'base.html' %}
{% load static %}
{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
<div class="head-holder">
    <section class="content-header">
        <h1>
            Account Record
            <small>All</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="{% url 'account' %}">Account Record</a></li>
            <li class="active">Account Form</li>
        </ol>
    </section>
</div>
    <div class="container">
        <form id="contact" action="" method="post">
            {% csrf_token %}
            <h3>Account Form</h3>

            <fieldset>
                <input placeholder="Invoice Number" name="invoiceNumber" type="number" tabindex="1" autofocus required>
            </fieldset>
            <fieldset>
                <input placeholder="Petrol Quantity" name="petrolQuantity" type="number" tabindex="2" required>
            </fieldset>
            <fieldset>
                <input placeholder="Diesel Quantity" name="dieselQuantity" type="number" tabindex="3" required>
            </fieldset>
            <fieldset>
                <input placeholder="Lubricant Quantity" name="lubricantQuantity" type="number" tabindex="4" required>
            </fieldset>
            <fieldset>
                <input placeholder="Invoice Amount" name="invoiceAount" type="number" tabindex="5" required>
            </fieldset>
            <fieldset>
                <input type="number" name="payNumber" placeholder="Cheque/Demand draft Number" tabindex="6" required>
            </fieldset>
            <fieldset>
                <p>Payment Date</p>
                <input type="date" name="paymentDate" tabindex="7" required>
            </fieldset>
            <fieldset>
                <input type="number" name="amountPaid" placeholder="How Much Amount is Paid" tabindex="8" required>
            </fieldset>
            <fieldset>
                <input type="text" name="comment" tabindex="9" placeholder="Comment if any" required>
            </fieldset>
            <fieldset>
                <input type="number" name="shortExcess" placeholder="Short/Excess any" tabindex="10" required>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit=.Sending">Submit</button>
            </fieldset>
        </form>
    </div>
{% endblock %}