{% extends 'base.html' %}
{% load static %}
{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
<div class="head-holder">
    <section class="content-header">
        <h1>
            Diesel Nozzle Wise Sale Record
            <small>All</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="{% url 'diesel-nozzle' %}">Diesel Nozzal Record</a></li>
            <li class="active">Diesel Nozzle Form</li>
        </ol>
    </section>
</div>
    <div class="container">
        <form id="contact" action="" method="post">
            {% csrf_token %}
            <h3>Diesel Nozzle Form</h3>
            <fieldset>
                <input placeholder="Opening Reading For Nozzle 1" step="0.01" min="0" max="10000" name="openingReadingForNozzle1" type="number"
                       tabindex="1" autofocus required>
            </fieldset>
            <fieldset>
                <input placeholder="Sale For Nozzle 1"step="0.01" min="0" max="10000" name="saleForNozzle1" type="number" tabindex="2" required>
            </fieldset>
            <fieldset>
                <input placeholder="Opening Reading For Nozzle 2"step="0.01" min="0" max="10000" name="openingReadingForNozzle2" type="number"
                       tabindex="3" required>
            </fieldset>
            <fieldset>
                <input placeholder="Sale For Nozzle 2"step="0.01" min="0" max="10000" name="saleForNozzle2" type="number" tabindex="4" required>
            </fieldset>
            <fieldset>
                <input placeholder="Opening Reading For Nozzle 3" step="0.01" min="0" max="10000" name="openingReadingForNozzle3" type="number"
                       tabindex="5" required>
            </fieldset>
            <fieldset>
                <input placeholder="Sale For Nozzle 3" name="saleForNozzle3" step="0.01" min="0" max="10000" type="number" tabindex="6" required>
            </fieldset>
            <fieldset>
                <input placeholder="Opening Reading For Nozzle 4"step="0.01" min="0" max="10000" name="openingReadingForNozzle4" type="number"
                       tabindex="7"required>
            </fieldset>
            <fieldset>
                <input placeholder="Sale For Nozzle 4" name="saleForNozzle4"step="0.01" min="0" max="10000" type="number" tabindex="8"required>
            </fieldset>
             <fieldset>
                <input placeholder="Rate for Diesel" name="rate" step="0.01" min="0" max="10000" type="number" tabindex="9"required>
            </fieldset>
             <fieldset>
                <input placeholder="Pump Testing" name="testing" type="number" tabindex="10"required>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit=.Sending">Submit</button>
            </fieldset>
        </form>
    </div>
{% endblock %}