{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="head-holder">
        <h2>Hello {{ user.username }} </h2>
    </div>
    <div class="outer">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <canvas id="myChart1" width="400" height="350"></canvas>
            </div>
            <div class="col-md-6 col-sm-6">
                <canvas id="myChart" width="400" height="350"></canvas>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-6 col-sm-6">

                <canvas id="lineChart"></canvas>
            </div>
        </div>
    </div>
{% endblock %}


