{% extends 'base.html' %}
{% load static %}{% block extracss %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="head-holder">
    <section class="content-header">
        <h1>
            Petrol Stock Record
            <small>All</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="{% url 'petrol-stock' %}">Petrol Stock Record</a></li>
            <li class="active">Petrol Stock Form</li>
        </ol>
    </section>
</div>
    <div class="container">
        <form id="contact" action="" method="post">
            {% csrf_token %}
            <h3>Petrol Stock Form</h3>
            <fieldset>
                <input placeholder="Opening Stock" name="openStock" type="number" tabindex="1" step="0.01" min="0" max="10000" autofocus required>
            </fieldset>
            <fieldset>
                <input placeholder="Receipt Stock" name="receiptStock" type="number" tabindex="2"required>
            </fieldset>
            <fieldset>
                <input placeholder="Actual Sale" name="actualSale" type="number" tabindex="3"required>
            </fieldset>
            <fieldset>
                <input placeholder="Product Dip"step="0.01" min="0" max="10000" name="productDip" type="number" tabindex="4"required>
            </fieldset>
            <fieldset>
                <input placeholder="Actual Dip"step="0.01" min="0" max="10000" name="actualDip" type="number" tabindex="5"required>
            </fieldset>
            <fieldset>
                <input type="number" name="waterCm" placeholder="Water Dip in Cm" tabindex="6"required>
            </fieldset>
            <fieldset>
                <input type="number" name="waterLtr" placeholder="Water Dip in Liters" tabindex="7"required>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="Sending">Submit</button>
            </fieldset>
        </form>
    </div>
{% endblock %}